{{- if .IsHome }}
{{- $publisherType := ( site.Params.schema.publisherType | default "Organization") | title -}}
{{- $data := dict
  "@context" "https://schema.org"
  "@type" $publisherType
  "name" site.Title
  "url" site.Home.Permalink
  "description" (site.Params.description | plainify | truncate 180)
-}}
{{- if (eq site.Params.schema.publisherType "Person") -}}
  {{- $data = merge $data (dict "image" (site.Params.assets.favicon | default "favicon.ico" | absURL)) -}}
{{- else -}}
  {{- $data = merge $data (dict "logo" (site.Params.assets.favicon | default "favicon.ico" | absURL)) -}}
{{- end -}}
{{- $sameAs := slice -}}
{{- if site.Params.schema.sameAs -}}
  {{- range site.Params.schema.sameAs -}}
    {{- $sameAs = $sameAs | append (trim . " ") -}}
  {{- end -}}
{{- else -}}
  {{- range site.Params.SocialIcons -}}
    {{- $sameAs = $sameAs | append ((trim .url " ") | safeURL) -}}
  {{- end -}}
{{- end -}}
{{- if gt (len $sameAs) 0 -}}
  {{- $data = merge $data (dict "sameAs" $sameAs) -}}
{{- end -}}
<script type="application/ld+json">{{ $data | jsonify | safeJS }}</script>
{{- else if .IsPage -}}
{{- $keywords := cond (and .Params.keywords (gt (len .Params.keywords) 0)) .Params.keywords .Params.tags -}}
{{- $image := "" -}}
{{- if .Params.cover.image -}}
  {{- if (ne .Params.cover.relative true) -}}
    {{- $image = (.Params.cover.image | absURL) -}}
  {{- else -}}
    {{- $image = ((path.Join .RelPermalink .Params.cover.image ) | absURL) -}}
  {{- end -}}
{{- else -}}
  {{- $images := partial "templates/_funcs/get-page-images" . -}}
  {{- with index $images 0 -}}
    {{- $image = .Permalink -}}
  {{- end -}}
{{- end -}}
{{- $authorParam := .Params.author | default site.Params.author -}}
{{- $authors := slice -}}
{{- if $authorParam -}}
  {{- if or (eq (printf "%T" $authorParam) "[]string") (eq (printf "%T" $authorParam) "[]interface {}") -}}
    {{- range $authorParam -}}
      {{- $authors = $authors | append (dict "@type" "Person" "name" .) -}}
    {{- end -}}
  {{- else -}}
    {{- $authors = $authors | append (dict "@type" "Person" "name" $authorParam) -}}
  {{- end -}}
{{- end -}}
{{- $publisher := dict
  "@type" (( site.Params.schema.publisherType | default "Organization") | title)
  "name" site.Title
  "logo" (dict "@type" "ImageObject" "url" ( site.Params.assets.favicon | default "favicon.ico" | absURL ))
-}}
{{- $data := dict
  "@context" "https://schema.org"
  "@type" "BlogPosting"
  "headline" (.Title | plainify)
  "name" (.Title | plainify)
  "description" ((.Description | plainify) | default (.Summary | plainify))
  "keywords" $keywords
  "articleBody" (.Content | plainify)
  "wordCount" .WordCount
  "inLanguage" (.Language.Lang | default "en-us")
  "datePublished" .PublishDate
  "dateModified" .Lastmod
  "mainEntityOfPage" (dict "@type" "WebPage" "@id" .Permalink)
  "publisher" $publisher
-}}
{{- if $image -}}
  {{- $data = merge $data (dict "image" $image) -}}
{{- end -}}
{{- if gt (len $authors) 0 -}}
  {{- $data = merge $data (dict "author" $authors) -}}
{{- end -}}
<script type="application/ld+json">{{ $data | jsonify | safeJS }}</script>
{{- else if .IsSection -}}
{{/* Skip breadcrumbs to avoid JSON issues for now */}}
{{- end -}}
